:root {
  --primary-color-50: hsl(240, 73%, 96%);
  --primary-color-100: hsl(240, 73%, 86%);
  --primary-color-200: hsl(240, 73%, 76%);
  --primary-color-300: hsl(240, 73%, 66%);
  --primary-color-400: hsl(240, 73%, 56%);
  --primary-color-500: hsl(240, 73%, 46%);
  --primary-color-600: hsl(240, 73%, 36%);
  --primary-color-700: hsl(240, 73%, 26%);
  --primary-color-800: hsl(240, 73%, 16%);
  --primary-color-900: hsl(240, 73%, 6%);

  --white-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--primary-color-900);
  color: var(--primary-color-50);
  height: 100vh;
}

#task-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

#task-add-container {
  height: 40px;
  display: flex;
  gap: 8px;
  padding-inline: 16px;
  align-items: center;
  width: 100%;
  background-color: var(--primary-color-800);
}

#task-add-container input {
  background-color: unset;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--primary-color-50);
}

#calendar-icon {
  cursor: pointer;
}

#task-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background-color: var(--primary-color-800);
}

.task img.circle-icon, .task img.trash-icon {
  cursor: pointer;
}

.task span {
  flex: 1;
}

svg.icon {
  width: 24px;
  height: 24px;
}
